body {
	background-image: url('../background.jpeg');
	background-repeat: repeat;
}

nav {
	background: linear-gradient(to bottom right, #2C3E50, #ECF0F1);
}

.card-panel {
	background: rgba(150, 150, 150, 0.2) !important;
}

.btn-submit, .btn-submit:hover {
	background-color: #2C3E50 !important;
}
