body {
	background-image: url('background.jpeg');
	background-repeat: repeat;
}

.obama-footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
	background-color: transparent;
}

.transparent-form {
	background: rgba(150, 150, 150, 0.2);
}